body{
    margin: 0px;
}
/*animation of each user profile image*/
@keyframes animating{
    0% { opacity: 1;}
    5% { opacity: 0.9; }
    10% { opacity: 0.8; }
    15% { opacity: 0.7; }
    20% { opacity: 0.1; }
    15% { opacity: 0.7; }
    10% { opacity: 0.8; }
    5% { opacity: 0.9; }
}
.main-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.leftmain{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: auto;
    background: white;
}
.left-itself-main{
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.rightblock{
    margin-top: 20px;
    margin-left: 30px;
    width: 2px;
    height: 200px;
    background: rgb(226, 106, 62);
}
.buttons{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.buybutton{
    margin-top: 50px;
    width: 200px;
    height: 70px;
    background: orange;
    color: white;
    border: none;
}
.buybutton:active{
    background: orangered;
}
.sellbutton:active{
    background: orangered;
}
.sellbutton{
    margin-top: 10px;
    width: 200px;
    height: 70px;
    background: orange;
    color: white;
    border: none;
}
.centered-division{
    margin-top: 10px;
}
.search-division{
    margin-top: 10px;
    align-self: center;
    width: inherit;
    height: 100px;
    display: flex;
    flex-direction: row;
}
input{
    width: inherit;
    height: 50px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background: rgb(160, 241, 160);
    align-self: center;
    box-shadow: 2px 2px 5px black;
}
.searchingIcon{
    width: 30px;
    height: 30px;
    align-self: center;
}
.rightmain{
    width: 70vw;
    height: 70vh;
    background: white;
    display: flex;
    flex-direction: column;
}
.upper-right-division{
    width: inherit;
    height: 50px;
    background: orangered;
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
}
.product-details{
    align-self: center;
    margin-left: 30%;
}
.detail-replacer{
    width: 50px;
    height: 50px;
    margin-left: 90px;
    
}
.last-right-division{
    width: inherit;
    height: auto;
}
/*product details division edition*/
#p-details{
    width: 50vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    border-bottom: 1px double pink;
    display: none;
}
.each-detail{
    margin-top: 0px;
    align-self: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid pink;
}
.each-detail:hover{
    color: rgb(139, 69, 93);
}
.last-right-center-sides{
    width: inherit;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.left-right-center-side{
    width: 35vw;
    height: inherit;
}
.right-right-center-side{
    width: 35vw;
    height: inherit;
}
.inner-head{
    width: inherit;
    height: 25px;
    background: green;
    color: white;
    text-align: center;
    margin-top: 0px;
}
h5{
    align-self: center;
}
.items{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}
.product-space{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
}
.product-iteslf{
    width: inherit;
    height: 400px;
    display: flex;
    flex-direction: row;
}
.product-picture{
    width: 200px;
    height: 200px;
    background: url(laptop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0px;
}
.its-source{
    width: auto;
    height: auto;
    color: rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: rgb(255, 58, 133);
}
.seller-handle{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
}
.seller-det{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
}
.seller-image{
    width: 100px;
    height: 100px;
    background: url(man1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: animating 2s infinite;
}
.customer-handle{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
}
.customer-det{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
}
.customer-image{
    width: 100px;
    height: 100px;
    background: url(profing.png);
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    text-align: left;
    animation: animating 2s infinite;
}
