body{
	margin: 0px;
}
@keyframes onbutton{
	from {background: orangered;}
	to {background: rgb(255, 177, 33);}
	from {width: 200px;}
	to {width: 300px;}
	from {color: linear-gradient(rgb(0, 0, 0),white);}
	to {color: white;}
	from {font-size: 15px;}
	to {font-size: 25px;}
}
@keyframes oneach1{
	from {background: rgb(29, 28, 28);}
	to {background: rgb(117, 116, 116);}
	from {box-shadow: 2px 2px 5px 2px rgb(29, 28, 28);}
	to {box-shadow: 0px 0px 0px 0px rgb(117, 116, 116);}
}
@keyframes oneach2{
	from {background: rgb(117, 116, 116);}
	to {background: rgb(197, 195, 195);}
	from {box-shadow: 2px 2px 5px 2px rgb(117, 116, 116);}
	to {box-shadow: 0px 0px 0px 0px rgb(197, 195, 195);;}
}
@keyframes oneach3{
	from {background: rgb(197, 195, 195);}
	to {background: rgb(255, 253, 253);}
	from {box-shadow: 2px 2px 5px 2px rgb(197, 195, 195);}
	to {box-shadow: 0px 0px 0px 0px rgb(255, 253, 253);}
}
.navigations{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	height: 60px;
	background: orangered;
	color: white;
	vertical-align: middle;
}
.mylogo{
	width: 90px;
	height: 90px;
	align-self: center;
}
h2{
	font-weight: bold;
	text-shadow: 1px 2px black;
	margin-left: 60px;
	margin-right: 60px;
	align-self: center;
}
.lower-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
	height: 200px;
}
.guiderText{
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-left: 20%;
	align-self: center;
	background: radial-gradient(rgba(250, 100, 0, 0.2),rgba(250, 250, 250, 0.1));
}
.myl{
	width: 200px;
	height: 300px;
	align-self: center;
}
.rights{
	width: 200px;
	height: 200px;
	align-self: center;
}
.lefts{
	width: 200px;
	height: 200px;
	align-self: center;
}
.good{
	margin-top: 100px;
	font-size: 50px;
	text-shadow: 2px 2px 5px black;
}
.watch{
	font-size: 45px;
}
.linktext{
	text-decoration: none;
	color: white;
	align-self: center;
}
a{
	text-decoration: none;
	color: white;
	align-self: center;
}

/*start of start.html page*/

.next{
	width: 200px;
	height: 50px;
	background: orangered;
	animation: onbutton 5s infinite;
	border: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15;
	font-weight: bold;
	position: relative;
}
.next:hover{
	height: 70px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 25px;
}
.logo-handle{
	width: inherit;
	height: auto;
	display: flex;
	flex-direction: row;
}
.shop-icon{
	width: 150px;
	height: 150px;
	margin-bottom: 50px;
	align-self: center;
}
.start-logo{
	width: 150px;
	height: 150px;
	align-self: center;
}
.buy-and-sell{
	font-size: 40px;
	color: orangered;
	border: 1px soloid black;
	align-self: center;
}
.b-s{
	text-decoration: none;
	color: orangered;
}
#det-icon{
	width: 50px;
	height: 50px;
	align-self: center;
	margin-left: 65vw;
}
.descriptions-handler{
	width: 100vw;
	height: 100vh;
	background: url(shop.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	flex-direction: column;
} 
.site-right-descriptions{
	width: inherit;
	height: 250px;
	color: rgb(255, 181, 193);
	font-size: 55px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	align-self: center;
	font-weight: bold;
}
.site-right-descriptions:hover{
	padding: 4px;
}
.site-left-descriptions{
	width: inherit;
	height: 250px;
	float: left;
	color: rgb(255, 181, 193);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}
#welcome{
	width: inherit;
	height: 100vh;
	background: url(morning.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: black;
	text-align: center;
	top: 0em;
}
#greeting{
	font-size: 55px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 1px 1px 5px black;
	margin-top: 25%;
}
#time-tag{
	font-size: 45px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#text-details{
	width: inherit;
	height: auto;
	text-align: center;
	display: none;
}
#e-detail1{
	border-bottom: 1px solid pink;
	border-radius: 100%;
}
#e-detail1:hover{
	color: rgb(230, 109, 129);
	font-size: 25px;
}
#e-detail2{
	border-bottom: 1px solid pink;
	border-radius: 100%;
}
#e-detail2:hover{
	color: rgb(230, 109, 129);
	font-size: 25px;
}
#e-detail3{
	border-bottom: 1px solid pink;
	border-radius: 100%;
}
#e-detail3:hover{
	color: rgb(230, 109, 129);
	font-size: 25px;
}
#e-detail4{
	border-bottom: 1px solid pink;
	border-radius: 100%;
}
#e-detail4:hover{
	color: rgb(230, 109, 129);
	font-size: 25px;
}
#privacy-space{
	width: 500px;
	height: 400px;
	margin-left: 39vw;
	display: none;
}
#acount-space{
	width: 500px;
	height: 400px;
	margin-left: 39vw;
	display: none;
}
#guide-space{
	width: 500px;
	height: 400px;
	margin-left: 39vw;
	display: none;
}
#designer-space{
	width: 500px;
	height: 400px;
	margin-left: 39vw;
	display: none;
}
.advert{
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	background: rgb(212, 212, 212);
}
.product-holder{
	width: inherit;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-bottom: 0px;
}
.p-image{
	width: 400px;
	height: 400px;
}
.p-descriptions{
	width: 50vw;
	height: auto;
	overflow-wrap: break-word;
	margin-left: 30px;
	align-self: center;
}
.product-qualifications{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	border: 1px orange;
	border-left-style: hidden;
}
.p-q{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	margin-left: 5px;
	align-self: center;
}
.apple-link{
	color: black;
}
p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}
/*on product animation*/
.loader{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	float: right;
}
.each1{
	width: 50px;
	height: 50px;
	border: 50%;
	animation: oneach1 1s infinite;
}
.each2{
	width: 50px;
	height: 50px;
	border: 50%;
	animation-delay: 4s;
	animation: oneach2 1s infinite;
}
.each3{
	width: 50px;
	height: 50px;
	border: 50%;
	animation-delay: 2s;
	animation: oneach3 1s infinite;
}
/*and of product animation*/
/*end of start.html page*/
