body{
	margin: 0px;
}
.navig{
	margin-top: 0px;
	width: 100vw;
	height: 70px;
	font-size: 30px;
	color: orange;
	background: linear-gradient(rgba(0, 100, 100, 1),whitesmoke);
	text-align: center;
}
.centing{
	width: 100vw;
	height: 70vh;
	background: url(profile.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: orange;
}
.arrow{
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left: 35%;
	margin-top: 13%;
}
.arrow:hover{
	opacity: 0.5;
	width: 105px;
	height: 105px;
}
h3{
	font-style: blod;
	font-size: 30px;
	position: absolute;
	margin-top: 6%;
	margin-left: 30%;
}
.foot{
	width: 100vw;
	height: 70px;
	background: orange;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
p{
	margin-left: 60px;
	margin-right: 60px;
}
.formHandle{
	width: 50vw;
	height: auto;
	text-align: center;
	margin-left: 17%;
	margin-top: 3%;
	background: linear-gradient(rgba(0, 0, 0, 0.3),orange);

}
.conta{
	color: orange;
}
form{
	text-align: center;
}
input{
	width: 30vw;
	height: auto;
	font-size: 24px;
	border: none;
}
.other-contacts{
	margin-top: 15px;
	background: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.goog{
	width: 50px;
	height: 50px;
}
.faceb{
	width: 50px;
	height: 50px;
}
.register-button{
	width: auto;
	height: auto;
	background: green;
	color: white;
	font-weight: bold;
	margin-left: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	box-shadow: 1px 2px 2px black;
}
.reset-button{
	width: auto;
	height: auto;
	background: rgb(255, 74, 3);
	color: white;
	font-weight: bold;
	margin-left: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	box-shadow: 1px 2px 2px black;
}
.reset-button:active{
	background: red;
}
.register-button:active{
	background: rgb(125, 177, 46);
}
a{
	text-decoration: none;
	color: white;
}
.clicktext{
	color: orange;
}
.clicktext:hover{
	color: orangered;
	transition-duration: 100ms;
}